<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786305723749-64v76108m5s55b2kc4cs9eth3eekempl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786305723749-64v76108m5s55b2kc4cs9eth3eekempl</string>
	<key>API_KEY</key>
	<string>AIzaSyCFBFPB7_hH7Jii080v7HMtkxFvXQW14es</string>
	<key>GCM_SENDER_ID</key>
	<string>786305723749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ankitmandusia.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-dac93</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-dac93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786305723749:ios:90e32c3ceb3fe4cf54058c</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-dac93.firebaseio.com</string>
</dict>
</plist>